
<!-- Swiper -->
<div class="swiper-viewport">
  <div id="slideshow{{ module }}" class="swiper-container slideshow">
      <div class="swiper-wrapper">
      {% for banner in banners %}
        <div class="swiper-slide">
          {% if banner.link %}
            <a href="{{ banner.link }}">
              <img data-src="{{ banner.image }}" alt="{{ banner.title }}" class="swiper-lazy" />
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </a>
          {% else %}
            <img data-src="{{ banner.image }}" alt="{{ banner.title }}" class="swiper-lazy" />
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
          {% endif %}
        </div>
      {% endfor %}
      </div>
      <div class="swiper-pagination swiper-pagination-white"></div>
      <div class="swiper-button-next swiper-button-white"></div>
      <div class="swiper-button-prev swiper-button-white"></div>
    </div>
</div>
<script>
  $(document).ready(() => {
      var swiper = new Swiper('.slideshow', {
        lazy: {
          loadPrevNext: true,
          loadPrevNextAmount: 1
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
  });
</script>