<div id="cart">
  <button id="cart-btn">
    <i class="fal fa-shopping-cart"></i>
    <span id="cart-total">
      <span class="cart-count mini-counter">{{ cart_count }}</span>
      <span class="hidden-xs" id="value-no-currency">{{ cart_total }}</span>
      <span class="hidden-xs">{{ total_currency }}</span>
    </span>
  </button>
  <ul id="mini-cart">
    {% if products or vouchers %}
    <li>
      <table class="table table-striped">
        {% for product in products %}
        <tr>
          <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
          <td class="text-left">
            <a href="{{ product.href }}">{{ product.name }}</a> 
              {% if product.option %}
                {% for option in product.option %}
                  <br />
                  - <small>{{ option.name }} {{ option.value }}</small>
                {% endfor %}
              {% endif %}
              {% if product.recurring %}
                <br />
                - <small>{{ text_recurring }} {{ product.recurring }}</small> 
              {% endif %}
          </td>
          <td class="text-right">x {{ product.quantity }}</td>
          <td class="text-right">{{ product.total }}</td>
          <td class="text-center"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="btn btn-xs"><i class="fal fa-times"></i></button></td>
        </tr>
        {% endfor %}
        {% for voucher in vouchers %}
        <tr>
          <td class="text-center"></td>
          <td class="text-left">{{ voucher.description }}</td>
          <td class="text-right">x&nbsp;1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-xs"><i class="fal fa-times"></i></button></td>
        </tr>
        {% endfor %}
      </table>
    </li>
    <li>
      <div>
        <table class="table table-bordered">
          {% for total in totals %}
          <tr>
            <td class="text-right"><strong>{{ total.title }}</strong></td>
            <td class="text-right">{{ total.text }}</td>
          </tr>
          {% endfor %}
        </table>
        <p class="text-right"><a href="{{ cart }}"><strong><i class="fal fa-shopping-cart"></i> {{ text_cart }}</strong></a>&nbsp;&nbsp;&nbsp;<a href="{{ checkout }}"><strong><i class="fal fa-share"></i> {{ text_checkout }}</strong></a></p>
      </div>
    </li>
    {% else %}
    <li class="empty-cart-text">
     {{ text_empty }}
    </li>
    {% endif %}
    
  </ul>
</div>
<div id="cart-modal">
  <div class="cart-modal-header">
    <h3>{{ text_shopping_cart }}</h3>
    <button class="cart-modal-close" id="cart-modal-close">
      <i class="fal fa-times"></i>
    </button>
  </div>
  <ul class="cart-modal-body">
    {% if products or vouchers %}
        <li>
          <span>{{ text_image }}</span>
          <span>{{ text_product_name }}</span>
          <span>{{ text_unit_price }}</span>
          <span>{{ text_quantity }}</span>
          <span>{{ text_item_total }}</span>
          <span>&nbsp;</span>
        </li>
      {% for product in products %}
        <li data-cart_id={{ product.cart_id }} data-product_id={{ product.product_id }}>
          {% if product.thumb %}
            <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a>
          {% endif %}
            <div class="product-name-options">
              <a href="{{ product.href }}">{{ product.name }}</a> 
              {% if product.option %}
                {% for option in product.option %}
                  <small>- {{ option.name }} {{ option.value }}</small>
                {% endfor %}
              {% endif %}
            </div>
            <div class="cart-modal-product-unit-price">
              <span>{{ text_unit_price }}</span>
              <span>{{ product.price }}</span>
            </div>
            <div class="cart-modal-product-quantity">
              <button class="subtract"><i class="fal fa-minus"></i></button>
              <input type="number" value="{{ product.quantity }}" autocomplete="off">
              <button class="add"><i class="fal fa-plus"></i></button>
            </div>
            <div class="cart-modal-product-total">
              <span>{{ text_item_total }}</span>
              <span>{{ product.total }}</span>
            </div>
            <button class="cart-modal-close remove-item-btn">
              <i class="fal fa-times"></i>
            </button>
        </li>
      {% endfor %}
    {% else %}
      <li class="cart-modal-empty">
        <i class="fal fa-shopping-cart"></i>
        <h3>{{ text_empty }}</h3>
        <button class="continue-shopping">{{ text_continue_shopping }}<i class="fal fa-angle-double-right"></i></button>
      </li>
    {% endif %}
  </ul>
  {% if products or vouchers %}
  <div class="cart-modal-options">
    <button class="continue-shopping">{{ text_continue_shopping }}</button>
    <a href="index.php?route=checkout/checkout">{{ text_proceed_to_checkout }}</a>
  </div>
  {% endif %}
</div>