<footer>
  {# <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
  </div> #}

<div class="container">
  <div class="row footer-row hidden-xs">
    <div class="col-xs-12 col-sm-3 col-md-3 footer-left">
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fal fa-envelope"></i>
        </a>
        <a href="#">
          <i class="fal fa-phone"></i>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 footer-middle">
        <div class="footer-middle-menu">
          <h4>{{ text_account }}</h4>
          <ul>
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
            <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
          </ul>
        </div>
        <div class="footer-middle-menu">
          <h4>{{ text_account }}</h4>
          <ul>
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
            <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
          </ul>
        </div>
        <div class="footer-middle-menu">
          <h4>{{ text_account }}</h4>
          <ul>
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
            <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
          </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 footer-right">
      {% if logo %}
        <a href="{{ home }}">
          <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
        </a>
      {% else %}
        <h1><a href="{{ home }}">{{ name }}</a></h1>
      {% endif %}
      <p class="text-right">© Fidan 2020. CUI: 34305328 / J40/3893/2015</p>
    </div>
  </div>
  <div class="row" id="footer-menu-mobile">
      {# {% if informations %}
      <div class="col-xs-12">
        <h5>{{ text_gdpr }}</h5>
        <ul class="list-unstyled" style="height:0px;">
          {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %} #}
      <div class="col-xs-12">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled" style="height:0px;">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-xs-12">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled" style="height:0px;">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-xs-12">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled" style="height:0px;">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
  </div>
</div>



</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>










